params {
    dataset_path = "example_datasets/enantioselectivity.csv"
    output_dir = "out/"
    encoding_index_dir = "encoding_AAIndex/*"     
    bin = "$PWD/bin/"
    mode = "regression" //{classification|regression}
}

executor {
  name = "local"
  cpus = 16  // change this to number of cores in your local machine
}
